@model IEnumerable<CapiMotors.Models.Vehicle>

@{
    ViewData["Title"] = "View";
}

    <div class="sale">
        @foreach (var vehicle in Model)
        {
        <div class="card container" style="width: 18rem;">
            <div>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="card-img-top" src="~/images/@vehicle.ImageName" alt="Card image cap">
                        </div>
                        <div class="carousel-item">
                            <img class="card-img-top" src="~/images/@vehicle.ImageName" alt="Card image cap">
                        </div>

                        <div class="carousel-item">
                            <img class="card-img-top" src="~/images/@vehicle.ImageName" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">@vehicle.Make @vehicle.Model</p>
                <p>R @vehicle.Price</p>
            </div>
            <button type="button" class="btn btn-info">Vehicle details</button>
        </div>
        }
    </div>



